<h2> Login </h2>
<form action="/login" method="post" >
  <label for="user_name"></label>
  <input id="user_name" type="text" name="post[username]" placeholder="please enter your user name">

</form>


<h2> Signup </h2>

<form action="/login" method="post" >
  <label for="user_name"></label>
  <input id="user_name" type="text" name="post[username]" placeholder="please enter your user name">
  
</form>